<html>
    <head>
        <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap-theme.min.css" integrity="sha384-6pzBo3FDv/PJ8r2KRkGHifhEocL+1X2rVCTTkUfGk7/0pbek5mMa1upzvWbrUbOZ" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
        
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
       <p class="navbar-text"><H1><center>Kidney Disease Prediction</center></H1></p> 
    </head>
    <title>
        Prediction Page
    </title>

    <form action="{{url_for('predict')}}" method="POST" >
        <!-- Upload File:<input type="file", name="file"><br> -->
        <p class="navbar-text"><h3>Enter details to predict kidney disease</h3></p>
        <div class="form-group">
            <label for="bloodurea">Blood Urea</label>
            <input type="text" class="form-control" name="bu" required>
        </div>
        <div class="form-group">
            <label for="glucoserandom">Glucose Random</label>
            <input type="text" class="form-control" name="bgr" required>
        </div>
        <div class="form-group">
            <label for="packedcellvolume">Packed Cell Volume</label>
            <input type="text" class="form-control" name="pcv" required>
        </div>
        <div class="form-group">
            <label for="redbloodcellcount">Red Blood Cell Count</label>
            <input type="text" class="form-control" name="rbc" required>
        </div>
        <div class="form-group">
            <label for="serumcreatinine">Serum Creatinine</label>
            <input type="text" class="form-control" name="sc" required>
        </div>
        <div class="form-group">
            <label for="albumin">Albumin</label>
            <input type="text" class="form-control" name="alb" required>
        </div>
        <div class="form-group">
            <label for="haemoglobin">Haemoglobin</label>
            <input type="text" class="form-control" name="haemo" required>
        </div>
        <div class="form-group">
            <label for="age">Age</label>
            <input type="text" class="form-control" name="age" required>
        </div>
        <div class="form-group">
            <label for="whitebloodcellcount">White Blood Cell Count</label>
            <input type="text" class="form-control" name="wbc" required>
        </div>
        <div class="form-group">
            <label for="sugar">Sugar</label>
            <input type="text" class="form-control" name="sugar" required>
        </div>

        <button type="Submit" class="btn btn-success">Submit</button>

    </form>

    <div>
        <p class="navbar-text"><h2>Result - {{prediction_text}}</h2></p>
    </div>


</html>